{include file="../view/public/header.html" title="您访问的网页不存在"/}
<div class="mdui-container">
    <div class="mdui-typo-display-3-opacity mdui-text-center" style="padding-top: 72px;">404 Not found</div>
    <div class="mdui-typo-subheading mdui-text-center"><strong>描述：我们无法找到您请求的页面:(</strong></div>
    <button onclick="window.location.href='/'" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center"
        style="margin-top: 36px;"><i class="mdui-icon mdui-icon-right material-icons">home</i>回到首页</button>
</div>

{include file="../view/public/footer.html" /}