{include file="../view/public/header.html" title="内部服务器错误"/}
<div class="mdui-typo-display-3-opacity mdui-text-center" style="padding-top: 72px;">500 Internal server error</div>
<div class="mdui-typo-subheading mdui-text-center"><strong>描述：服务器出现内部错误，请稍后再试。我们已将此事件记录并将在第一时间修复。由此带来的不便，深感歉意。</strong></div>
<button onclick="window.location.href='/'" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-center"
    style="margin-top: 36px;"><i class="mdui-icon mdui-icon-right material-icons">home</i>回到首页</button>

{include file="../view/public/footer.html" /}